.log-in {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.log-in .left {
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: space-between;
}

/* WEB TITLE */

.web-title {
    display: flex;
    margin: 2rem 1rem;
}

.web-title > img {
    height: 4rem;
}

.web-title #title {
    font-family: var(--font-title);
}

/* FORM */

.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 5rem;
    margin: auto;
}

.form .top {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
} 

.form .top #top-headline {
    width: fit-content;
    font-family: var(--font-title);
    text-align: center;
}

.form .top > p {
    font: var(--font);
    color: var(--text-light);
    text-align: center;
}

/* INPUTS */

.form .inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.form .inputs > label {
    display: flex;
    position: relative;
    width: 100%;
}

.form .inputs > label > input {
    width: 30rem;
    min-width: 20rem;
    padding: .75rem .75rem;
    border: 0;
    background-color: rgba(235, 232, 232, 0.651);
    outline: none;
}

.form .inputs > label > span {
    position: absolute;
    top: 50%;
    left: 3%;
    translate: 0 -50%;
    transition: all .3s ease;
}

.form .inputs > label > .focus {
    font-size: .75rem;
    top: 0;
}

.form .inputs > label #clear {
    left: 94%;
}

.form .inputs button {
    width: 100%;
    text-wrap: nowrap;
    scroll-snap-align: center;
    text-transform: uppercase;
    padding: .65rem .95rem;
    color: var(--text-light);
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 2rem;
    cursor: pointer;
    background-color: var(--primary);
    color: white;
}

.form .inputs button:hover {
    opacity: .8;
}

.form .inputs button:active {
    opacity: .6;
    transition: all .13s ease;
}

.form .inputs > p > a{
    color: var(--primary);
    font-weight: 800;
}

/* TERMS OF USE */

#terms-of-use {
    width: 70%;
    margin: 2rem auto;
    text-align: center;
}

/* RIGHT */

.log-in .right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
}

.log-in .right > img {
    width: 40vw;
    border-radius: 2rem;
    box-shadow: 0 5px 10px -5px black;
}