.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
    position: relative;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-image: url("/BINHI/files/binhi.jpg");
    background-size: cover;
    background-position: center;
    opacity: .25;
}

.hero-section .top-contents {
    width: 100vw;
    height: fit-content;
    padding: 7rem 0;
    padding-top: 8rem;
    margin: 0 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.hero-section .top-contents #strong-text {
    font-size: clamp(1.9rem, 2vw, 3.5rem);
    width: fit-content;
    font-family: var(--font-title);
    color: var(--primary);
    margin: 0 1rem;
}

.hero-section .top-contents #paragraph {
    font-size: clamp(.95rem, 2vw, 1.5rem);
    color: var(--text-medium);
    width: 60%;
}

.hero-section .top-contents>a {
    text-wrap: nowrap;
    scroll-snap-align: center;
    width: fit-content;
    padding: .65rem .95rem;
    color: var(--text-light);
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 2rem;
    cursor: pointer;
    background-color: var(--primary);
    color: white;
    display: flex;
    align-items: center;
    gap: .5rem;
}

.hero-section .top-contents>a:hover {
    opacity: .8;
}

.hero-section .top-contents>a:active {
    opacity: .6;
    transition: .13s all ease;
}

.hero-section .bottom-contents {
    display: flex;
    gap: .8rem;
}

.hero-section .bottom-contents .images {
    width: auto;
    height: auto;
    z-index: -1;
}

.hero-section .bottom-contents .images > img {
    width: 40vw;
    border-radius: 1rem;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.575);
}

.hero-section .bottom-contents .images .hide-image-preview {
    display: none;
}

.hero-section .bottom-contents .images .show-image-preview {
    display: block;
    position: fixed;
    width: 80vw;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 1;
}

.image-divs {
    display: none;
}

.show-image-bg {
    display: block;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 0;
    background-color: rgba(0, 0, 0, .50);
}