.history {
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* LEFT */

.history .left {
    width: 50vw;
    min-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.history .left >img {
    width: 40vw;
    box-shadow: 0 5px 10px -5px black;
    border-radius: 1rem;
    scroll-snap-align: center;
    flex-shrink: 0;
}

/* RIGHT */

.history .right {
    width: 50vw;
    min-width: 700px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.history .right .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 80%;
    min-width: 400px;
    gap: 1rem;
}

.history .right .container #question {
    font-family: var(--font-title);
    color: var(--primary);
    font-size: clamp(1.5rem, 2vw, 2.5rem);
}

.history .right .container #binhi-description {
    font-variant: var(--font);
    font-size: 1.25rem;
    color: var(--text-medium);
    margin: 0 1rem;
}

.history .right .container a {
    width: fit-content;
    text-wrap: nowrap;
    scroll-snap-align: center;
    padding: .65rem .95rem;
    color: var(--text-light);
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 2rem;
    cursor: pointer;
    background-color: var(--primary);
    color: white;
    display: flex;
    gap: .5rem;
    align-items: center;
}

.history .right .container a:hover {
    opacity: .8;
}

.history .right .container a:active {
    opacity: .6;
    transition: all .13s ease;
}



@media (max-width: 1200px) {

    .history {
        width: 100vw;
        flex-direction: column-reverse;
        gap: 1rem;
        height: fit-content;
        padding: 2rem 0;
    }

    .history .left {
        width: 90vw;
        margin: auto;
        display: flex;
    }

    .history .left>img {
        width: 90vw;
    }

    /* RIGHT */

    .history .right {
        width: 100%;
        min-width: 100vw;
        height: fit-content;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .history .right .container {
        min-width: 90vw;
    }

}