.nav {
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: auto;
    height: fit-content;
    transition: all .3s ease;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.404);
    position: sticky;
    top: 0;
}

.nav .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}

.nav .top .web-title {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: .5rem;
}

.nav .top .web-title>img {
    width: 4rem;
    margin-right: -.5rem;
}

.nav .top .web-title>h1 {
    font-family: var(--font-title);
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    color: var(--primary);
}

/* AUTH TABS */

.nav .top .auth {
    display: flex;
    gap: .5rem;
    margin-right: .5rem;
}

.nav .top .auth>button>a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    font-family: var(--font-title);
    font-weight: 600;
    padding: .75rem 1rem;
    border-radius: .5rem;
    text-transform: uppercase;
    background-color: transparent;
}

.nav .top .auth>button>a:hover {
    background-color: rgba(187, 187, 187, 0.589);
}

.nav .top .auth #sign-up>a {
    background-color: var(--primary);
    color: white;
}

.nav .top .auth #hamburger-button {
    display: none;
    padding: .5rem;
    font-size: 1.5rem;
    margin-right: .5rem;
}

.nav .top .auth #hamburger-button:hover {
    background-color: rgba(0, 0, 0, 0.103);
}

/* TABS */

.nav .tabs-container {
    padding: .5rem;
    height: fit-content;
    background-color: rgb(201, 201, 201);
    border-radius: 2rem;
    flex-shrink: 0;
}

.nav .tabs-container .web-title {
    display: none;
}

.nav .tabs-container .tabs {
    top: 0;
    margin: 0 auto;
    padding: .25rem 0;
    display: flex;
    width: min(35vw, 910px);
    height: fit-content;
    flex-wrap: nowrap;
    overflow: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    flex-shrink: 0;

    &::-webkit-scrollbar {
        display: none;
    }
}

.nav .tabs-container .tabs .tab {
    text-wrap: nowrap;
    scroll-snap-align: center;
    width: fit-content;
    padding: .45rem .95rem;
    color: var(--text-light);
    font-weight: bold;
    border-radius: 2rem;
    cursor: pointer;
    flex-shrink: 0;
}

.nav .tabs-container .tabs .tab:hover {
    background-color: rgba(2, 2, 2, 0.11);
}

.nav .tabs-container .tabs .tab.highlight {
    background-color: var(--primary);
    color: white;
}

@media (max-width: 700px) {
    .nav .top .auth #hamburger-button {
        display: block;
    }

    .nav .top .tabs-container {
        display: none;
        position: fixed;
        top: 0;
        left: 100vw;
        padding: 0;
        width: 250px;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: rgb(252, 252, 252);
        border-radius: 0;
        box-shadow: 0 0 10px -2.5px black;
        z-index: 5;
    }

    .nav .top .show-side-bar {
        display: block;
        opacity: 0;
        animation: show .75s ease-out forwards;
    }

    @keyframes show {
        from {
            display: block;
            opacity: 0;
            left: 100vw;
        }
        to {
            display: block;
            opacity: 1;
            left: calc(100vw - 250px);
        }
    }

    .nav .top .hide-side-bar {
        opacity: 0;
        animation: hide .75s ease-out forwards;
    }

    @keyframes hide {
        from {
            display: block;
            opacity: 1;
            left: calc(100vw - 250px);
        }

        to {
            display: hide;
            opacity: 0;
            left: 100vw;
        }
    }

    .nav .top .tabs-container  .web-title {
        display: flex;
        align-items: center;
        padding: 1.5rem 0;
        padding-bottom: 1rem;
    }

    .nav .top .tabs-container  .web-title>img {
        width: 50px;
    }

    .nav .top .tabs-container  .web-title>h1 {
        font-size: 1.2rem;
    }

    .nav .top .tabs-container  .web-title #close-side-bar {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-weight: 900;
        padding: .75rem 1rem;
        border-radius: 1rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        background-color: transparent;
        margin-left: auto;
        margin-right: .5rem;
    }

    .nav .top .tabs-container  .web-title #close-side-bar:hover {
        background-color: rgba(0, 0, 0, 0.103);
    }

    .nav .top .tabs-container .tabs {
        flex-direction: column;
        width: 100%;
        height: min(100vh);
        overflow-y: auto;
        overflow-x: hidden;
        padding: 0;
    }


    .nav .top .tabs-container .tabs .tab {
        min-width: 100%;
        padding: 2rem 1rem;
        border-radius: 0;
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    .nav .top .tabs-container .tabs .tab.highlight {
        min-width: 100%;
        background-color: rgba(221, 221, 221, 0.596);
        color: var(--primary);
    }
}